# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
bjoern==3.2.1
bottle==0.12.19
psycopg==3.0.11
psycopg-binary==3.0.11
